$hoverColor: #f55873;

.article-wraper {
    padding-right: 60px;
    .article-title {
        font-size: 20px;
    }

    .article-time {
        font-style: italic;
        font-weight: 500;
        color: #666;
    }

    .article-content {
        margin-top: 15px;

        img {
            display: block;
            max-width: 600px;
            margin: 20px 0;
        }

        pre {
            overflow: auto;
            position: relative;
            line-height: 1.75;
        }

        pre>code {
            padding: 15px 12px;
            margin: 0;
            font-size: 12px;
            font-weight: 600;
            word-break: normal;
            display: block;
            overflow-x: auto;
            color: #262626;
            background: linear-gradient(180deg, #757b781a, transparent) !important;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 40px 0 10px;
        }
    }
}

.article-comment {
    cursor: pointer;

    &:hover {
        font-weight: 600;
        color: $hoverColor;
    }
}