
.artlist-wraper {
    .catagory-title {
        font-weight: 700;
        font-size: 18px;
    }
    .catagory-description {
        margin-left: 10px;
        vertical-align: text-bottom;
        font-weight: 500;
        color: #666;
        font-size: 13px;
    }
    .catagory-articles {
        margin-left: 15px;
    }
}
