.my-wraper {
    padding-top: 20px !important;
    .one-item {
        margin-bottom: 20px;

        h1 {
            font-size: 20px;
        }

        .about-me {
            line-height: 30px;
            font-weight: 500;
        }

        .favorite-peom {
            width: 83%;
            height: 430px;
            text-align: center;
        }
    }
}