$pageHeight: 100vh;

.ant-result-404 {
    padding-top: 150px;
}

.ant-layout {
    height: $pageHeight;
    min-width: 1000px;
}

.ant-layout-header {
    position: relative;
    padding: 0 30px;
    z-index: 10;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}

.ant-layout-sider {
    min-width: 230px !important;
    text-align: center;
    padding-top: 30px;
    box-shadow: 0 2px 10px #bbc4ce;
    background: #fff;
}

.ant-divider-horizontal {
    margin: 12px 0;
}

.ant-spin-spinning {
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    margin-left: 240px;
}
.ant-spin-dot-item {
    background-color:#f55873;
}

.ant-list-empty-text {
    margin-top: 150px;
}