$hoverColor: #f55873;

.ant-result-404 {
    padding-top: 150px;
}

.ant-layout {
    min-width: 1200px;
    height: 100vh;
}

.ant-layout-header {
    position: relative;
    padding: 0 100px;
    z-index: 10;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}

.ant-layout-has-sider {
    padding: 30px 100px 0;
    background: #f4f5f5;
}

.ant-layout-sider {
    min-width: 280px !important;
    margin-left: 30px;
    background: #f4f5f5;
    .ant-layout-sider-children  {
        width: 100%;
    }
}

.ant-divider-horizontal {
    margin: 12px 0;
}

.ant-spin-spinning {
    position: absolute;
    left: -300px;
    right: 0;
    top: 260px;
}
.ant-spin-dot-item {
    background-color:$hoverColor;
}

.ant-list-empty-text {
    margin-top: 150px;
}