@import '~antd/dist/antd.css';
@import './antd.scss';

$pageHeight: 100vh;
$hoverColor: #f55873;



html {
    height: $pageHeight;
}

body {
    height: $pageHeight;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ebeef1;
}

.header-left {
    font-weight: 800;

    .header-title {
        font-size: 16px;
        font-style: italic;
    }
}

.page-user-info {
    padding: 15px 20px;
    margin-bottom: 30px;
    background: #fff;

    .autor-name {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 800;
    }

    .autor-des {
        font-size: 14px;
        font-style: italic;
    }

    .author-site {
        margin-left: 5px;
        margin-top: 20px;

        .site-item {
            margin-bottom: 6px;
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                color: $hoverColor;
            }
        }
    }
}

.header-center {
    padding: 0 30px;
    font-weight: 800;

    .header-menu {
        display: inline-block;
        margin-right: 100px;
        font-size: 16px;

        a {
            color: #333;

            &:hover {
                color: $hoverColor;
            }
        }
    }

    .menu-active {
        a {
            color: $hoverColor;
        }
    }
}

.header-right {
    text-align: right;
}

.page-sider-wraper {

    .ant-list-item {
        padding: 6px 0;
    }

    .other-info-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #615d5d;
    }
}


.page-content {
    background: #fff;

    .page-wraper {
        padding: 0 30px;
        height: calc(100vh - 95px);
        overflow-y: scroll;
    }
}